<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="settings/boards"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title translate>Boards settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="text-3xl text-center text-ellipsis">
    {{ (boardData | async)?.id | truncate: 8 }}
  </h1>

  <form class="ion-padding-vertical" [formGroup]="form">
    <ion-item>
      <ion-label position="floating" translate class="required"
        >Board name</ion-label
      >
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <span
      class="error ion-margin"
      *ngIf="
        form.get('name')?.hasError('required') && form.get('name')?.touched
      "
      translate
    >
      Please enter a board name
    </span>

    <!-- Beet selection -->
    <ion-item>
      <ion-label position="floating" translate class="required">Bed</ion-label>
      <ion-select
        interface="alert"
        [placeholder]="'Select one' | translate"
        [interfaceOptions]="alertOptions"
        [okText]="'OK' | translate"
        [cancelText]="'Cancel' | translate"
        formControlName="bedId"
      >
        <ion-select-option
          [value]="bed.id"
          *ngFor="let bed of bedData | async"
          >{{ bed.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <span
      class="error ion-margin"
      translate
      *ngIf="
        form.get('bedId')?.hasError('required') && form.get('bedId')?.touched
      "
    >
      Please select a bed
    </span>
  </form>

  <!-- Sensor configurations -->
  <ion-list>
    <ion-list-header class="text-2xl" translate>
      <ion-label> Sensors </ion-label>
      <ion-button [routerLink]="['sensors']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let boardSensor of configurationData | async">
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon name="trash" class="px-4"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item [routerLink]="['sensors', boardSensor.id]">
        <ion-label> {{ boardSensor.sensor.name }} </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!-- Save button -->
  <ion-button
    expand="block"
    color="primary"
    slot="fixed"
    style="bottom: 1rem; left: 1rem; right: 1rem"
    translate
    (click)="save()"
    [disabled]="!form.valid"
    >Save</ion-button
  >
</ion-content>
