<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="settings"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title translate> Sensors settings </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [formControl]="searchControl"
      [placeholder]="'Search' | translate"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredSensors">
    <ng-container *ngFor="let group of filteredSensors | async">
      <ion-list-header>{{ group.name }}</ion-list-header>
      <ion-item *ngFor="let sensor of group.sensors" [routerLink]="[sensor.id]">
        <ion-label>
          {{ sensor.name }}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
