<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="settings"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title translate> Sensors settings </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [formControl]="searchControl"
      [placeholder]="'Search' | translate"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredSensors">
    <ion-list-header *ngFor="let group in filteredSensors | async"></ion-list-header>
    <!-- <ion-item
      *ngFor="let sensor  filteredSensors | async"
      [routerLink]="[sensor.id]"
    >
      <ion-label>
        {{ sensor.name }}
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>
