<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'Weather forecast' | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <rooftop-weather-forecast></rooftop-weather-forecast>
    </ion-card-content>
  </ion-card>

  <rooftop-link-slider [cards]="linkCards"></rooftop-link-slider>
</ion-content>
