<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="settings"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['create']">
        <ion-icon name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate> Automation settings </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [formControl]="searchControl"
      [placeholder]="'Search' | translate"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredAutomations">
    <ion-item
      *ngFor="let automation of filteredAutomations | async"
      [routerLink]="[automation.id]"
    >
      <ion-label [color]="automation.active ? undefined : 'medium'">
        {{ automation.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
