<rooftop-login-container [backButtonVisible]="true">
  <form class="flex h-full flex-col" [formGroup]="form">
    <!-- Hidden username field -->
    <input type="text" autocomplete="username" style="visibility: hidden" />

    <ion-item>
      <ion-label position="floating"
        >{{ 'New Password' | translate
        }}<span class="text-red-500">*</span></ion-label
      >
      <ion-input
        type="password"
        autocomplete="new-password"
        formControlName="password"
        id="password"
      ></ion-input>
    </ion-item>
    <ng-container *ngIf="form.get('password')?.touched">
      <span class="error" *ngIf="form.get('password')?.hasError('required')">
        {{ 'Password is required' | translate }}</span
      >
      <span class="error" *ngIf="form.get('password')?.hasError('minlength')">
        {{ 'Password must be at least 8 characters long' | translate }}</span
      >
    </ng-container>

    <ion-item>
      <ion-label position="floating"
        >{{ 'Repeat Password' | translate
        }}<span class="text-red-500">*</span></ion-label
      >
      <ion-input
        type="password"
        autocomplete="new-password"
        formControlName="passwordConfirm"
        id="password-confirm"
      ></ion-input>
    </ion-item>
    <ng-container *ngIf="form.get('passwordConfirm')?.touched">
      <span
        class="error"
        *ngIf="form.hasError('passwordMismatch')"
        [@headShakeOnEnter]
        [@fadeOutOnLeave]
      >
        {{ 'Passwords do not match' | translate }}
      </span>
    </ng-container>

    <!-- Login button -->
    <ion-button color="success" class="mb-8 mt-auto" type="submit">{{
      'Save password' | translate
    }}</ion-button>
  </form>
</rooftop-login-container>
