<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Users header -->
    <ion-list-header>
      <h1 class="text-xl" translate>Users</h1>
    </ion-list-header>

    <!-- Profile settings link -->
    <ion-item routerLink="profile">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <h2 translate>
          Profile
        </h2>
      </ion-label>
    </ion-item>

    <!-- Users settings link -->
    <ion-item routerLink="users">
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>
        <h2 translate>Users
        </h2>
      </ion-label>
    </ion-item>

    <ion-item-divider></ion-item-divider>

    <!-- Plants and beds header -->
    <ion-list-header>
      <h1 class="text-xl" translate>Plants and beds</h1>
    </ion-list-header>

    <!-- Plants settings link -->
    <ion-item routerLink="plants">
      <ion-icon name="leaf" slot="start"></ion-icon>
      <ion-label>
        <h2 translate>Plants</h2>
      </ion-label>
    </ion-item>

    <!-- Beds settings link -->
    <ion-item routerLink="beds">
      <ion-icon name="albums" slot="start"></ion-icon>
      <ion-label>
        <h2 translate>Beds</h2>
      </ion-label>
    </ion-item>

    <ion-item-divider></ion-item-divider>

    <!-- Plants Header -->
    <ion-list-header>
      <h1 class="text-xl" translate>Boards and sensors</h1>
    </ion-list-header>

    <!-- Boards settings link -->
    <ion-item routerLink="boards">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>
        <h2 translate>Boards
        </h2>
      </ion-label>
    </ion-item>

    <!-- Sensors settings link -->
    <ion-item routerLink="sensors">
      <ion-icon name="analytics"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2 translate>Sensors
        </h2>
      </ion-label>
    </ion-item>

    <!-- Automations settings link -->
    <ion-item routerLink="automations">
      <ion-icon name="timer"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2 translate>Automations
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
