<rooftop-login-container [backButtonVisible]="true">
  <form class="flex h-full flex-col">
    <p class="text-black font-bold mt-4 text-center">
      {{
        'Enter the Code that you have recieved in your E-Mail Inbox' | translate
      }}
    </p>
    <ion-item>
      <ion-label position="floating">Code</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <!-- Login button -->
    <ion-button color="success" class="mb-8 mt-auto" type="submit">{{
      'Reset' | translate
    }}</ion-button>
  </form>
</rooftop-login-container>
