<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'settings/boards/' + boardId"
        [text]="'Back' | translate"
      >
        ></ion-back-button
      >
    </ion-buttons>
    <ion-title translate>Sensor settings</ion-title>
    <ion-buttons slot="end" *ngIf="(sensorId | async) !== ''">
      <ion-button (click)="onDelete()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <!-- Sensor Type -->
    <ion-item>
      <ion-label position="floating" translate class="required"
        >Sensor type</ion-label
      >
      <ion-select formControlName="sensorId">
        <ion-select-option
          *ngFor="let sensorType of sensorConfigurations | async"
          [value]="sensorType.id"
          >{{ sensorType.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <span
      class="error ion-margin"
      *ngIf="
        form.get('sensorId')?.hasError('required') &&
        form.get('sensorId')?.touched
      "
      translate
    >
      Please select a sensor type
    </span>

    <!-- Sensor Pin -->
    <ion-item>
      <ion-label position="floating" translate>Sensor pin</ion-label>
      <ion-select formControlName="pinId">
        <ion-select-option
          *ngFor="let sensorPin of boardPins | async"
          [value]="sensorPin.id"
          >{{ sensorPin.pin }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <span
      class="error ion-margin"
      *ngIf="
        form.get('pinId')?.hasError('required') && form.get('pinId')?.touched
      "
      translate
    >
      Please select a pin
    </span>

    <!-- Sensor is connected -->
    <ion-item class="ion-padding-vertical" lines="none">
      <ion-label translate>Connected to board</ion-label>
      <ion-checkbox slot="start" formControlName="isConnected"></ion-checkbox>
    </ion-item>
  </form>
  <ion-button
    expand="block"
    type="submit"
    slot="fixed"
    style="bottom: 1rem; left: 1rem; right: 1rem"
    translate
    [disabled]="!form.valid"
    (click)="save()"
  >
    Save
  </ion-button>
</ion-content>
