@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Swiper imports */
@import 'swiper/scss';
@import 'swiper/scss/pagination';
@import '@ionic/angular/css/ionic-swiper';

.text-green {
  color: var(--ion-color-success);
}

span.error {
  color: var(--ion-color-danger);
  font-weight: 700;
  display: block;
}

.ios {
  // Prefers dark mode
  @media (prefers-color-scheme: dark) {
    // Remove background from item divider
    ion-item-divider {
      background: none;
    }
  }
}

.swiper-pagination-bullet {
  background-color: #000 !important;
  width: 0.75rem;
  height: 0.25rem;
  border-radius: 2px;
}

.swiper-pagination-bullet-active {
  background-color: var(--ion-color-primary) !important;
}

@media (prefers-color-scheme: dark) {
  .swiper-pagination-bullet {
    background-color: #fff !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--ion-color-primary) !important;
  }
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-label.required {
  &::after {
    content: ' *';
    color: var(--ion-color-danger);
  }
}
