<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="settings"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['create']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate> Plants settings </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [formControl]="searchControl"
      [placeholder]="'Search' | translate"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredPlants">
    <ion-item
      *ngFor="let plant of filteredPlants | async"
      [routerLink]="[plant.id]"
    >
      <ion-label *ngIf="translate.getBrowserLang() === 'de'">
        {{ plant.name_de}}
      </ion-label>
      <ion-label *ngIf="translate.getBrowserLang() !== 'de'">
        {{ plant.name_en}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
