<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="settings"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title translate> Beds settings </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [formControl]="searchControl"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredBeds">
    <ion-item *ngFor="let bed of filteredBeds | async" [routerLink]="[bed.id]">
      <ion-label>
        {{ bed.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
