<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="settings"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title translate> Boards settings </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [formControl]="searchControl"
      [placeholder]="'Search' | translate"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredBoards">
    <ion-item
      *ngFor="let board of filteredBoards | async"
      [routerLink]="[board.id]"
    >
      <ion-label>
        {{ board.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
