<rooftop-login-container [backButtonVisible]="true">
  <form class="flex h-full flex-col">
    <p class="text-black font-bold mt-4 text-center">
      {{
        'Enter your E-Mail address and if it exists, a code will be mailed to you'
          | translate
      }}
    </p>
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <!-- Login button -->
    <ion-button color="success" class="mt-8" type="submit">{{
      'Request code' | translate
    }}</ion-button>
  </form>
</rooftop-login-container>
