<div class="flex flex-row items-center">
  <h2 translate>Weather</h2>
  <ion-button fill="clear" class="ml-auto" (click)="delete()" translate>
    <ion-icon name="trash" color="danger"> </ion-icon
  ></ion-button>
</div>

<div class="flex flex-row items-center gap-2">
  <ion-icon
    name="sunny"
    [style.color]="isRainy ? undefined : 'var(--ion-color-primary)'"
  ></ion-icon>
  <ion-toggle [(ngModel)]="isRainy"></ion-toggle>
  <ion-icon
    name="rainy"
    [style.color]="!isRainy ? undefined : 'var(--ion-color-primary)'"
  ></ion-icon>
</div>
